# URL de exportação CSV da planilha vinculada ao Google Forms.
# A planilha precisa estar com acesso "Qualquer pessoa com o link pode ver".
SURVEY_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/1nZyjO2-6i4mJBUDk9DGKnktilaP2tu6aoyWQfWB8cTg/gviz/tq?tqx=out:csv
